// Config - Variables

// Font family
$font-family-base: 	    'Open Sans';

// Color
$primary:               #332A5E;
$info:                  #013365;
$warning:               #C7A257;
$white:                 #FFFFFF;
$black:                 #000000;
$dark-blue:             #1A133C;
$light:                 #F0F0F9;

// Folder path
$path-images: '../images';
$path-fonts: '../fonts';