// Base - Header

.header {

    &__top {
        padding: 8px 0;
        background-color: $dark-blue;

        @include media-breakpoint-down(md) {
            display: none;
        }

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-left {
                display: flex;
            }

            &-right {
                display: flex;
            }
        }
    }

    &__middle {
        padding: 8px 0;
        background-color: #FFF;

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @include media-breakpoint-down(md) {
            border-bottom: 2px solid $primary;
        }
    }

    &__bottom {
        background-color: $primary;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

.header__top-inner-right {

    .dropdown {
        
        &:not(:last-child) {
            margin-right: 30px;

            @include media-breakpoint-down(lg) {
                margin-right: 15px;
            }
        }
    }
}

.header__top-inner-left {

    .icony {

        &:not(:last-child) {
            margin-right: 30px;

            @include media-breakpoint-down(lg) {
                margin-right: 15px;
            }
        }
    }
}

.symbols {

    .dropdown-toggle {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dropdown-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    img {
        width: 24px;
        display: inline-block;
        margin: -10px 6px -6px 0;
    }
}

.special {

    .dropdown-toggle {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dropdown-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .icon {
        display: inline-block;
        margin: -2px 6px -2px 0;
        font-size: 18px;
        vertical-align: -3px;
    }
}

.languages {

    .dropdown-toggle {
        padding-left: 10px;
        padding-right: 10px;
    }

    .dropdown-item {
        padding-left: 10px;
        padding-right: 10px;
    }

    img {
        width: 24px;
        display: inline-block;
        margin: -10px 6px -6px 0;
    }
}

.logo {
    margin-right: 45px;

    a {
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: none;
        }

        img {
            width: auto;
            width: 90px;

            @include media-breakpoint-down(md) {
                width: 60px;
            }
        }

        span {
            color: #000;
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            text-transform: uppercase;
            margin-left: 15px;

            @include media-breakpoint-down(lg) {
                font-size: 15px;
            }

            @include media-breakpoint-down(md) {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}


// Search

.search {
    width: 100%;
    max-width: 270px;

    @include media-breakpoint-down(md) {
        display: none;
    }

    .btn {
        width: 40px;
        padding: 0;

        .icon {
            vertical-align: -2px;
            font-size: 15px;
        }
    }
}

.header__buttons {
    display: flex;
    margin-left: 40px;

    @include media-breakpoint-down(md) {
        display: none;
    }

    .btn {
        display: flex;
        align-items: center;
        padding-left: 25px;
        padding-right: 25px;    

        &:not(:last-child) {
            margin-right: 25px;
        }

        .icon {
            font-size: 24px;
            margin: -2px 10px -2px 0;
        }
    }
}

// Menu
.menu {

    nav {

        & > ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            & > li {

                &:not(:last-child) {
                    margin-right: 25px;

                    @include media-breakpoint-down(lg) {
                        margin-right: 10px;
                    }
                }

                &.menu-item-has-dropdown {
                    position: relative;

                    &:hover {

                        & > a {
                            color: $warning;
                        }

                        ul {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    &.active {

                        & > a {
                            color: $warning;
                        }
                    }

                    & > a {

                        &:after {
                            content: "\e904";
                            font-size: 10px;
                            font-family: 'icomoon';
                            margin-left: 8px;

                            @include media-breakpoint-down(lg) {
                                margin-left: 5px;
                            }
                        }
                    }

                    ul {
                        width: 240px;
                        background-color: $primary;
                        position: absolute;
                        top: 60px;
                        left: 0;
                        z-index: 9;
                        list-style: none;
                        padding: 8px 0;
                        margin: 0;
                        opacity: 0;
                        visibility: hidden;
                        box-shadow: 0 5px 8px rgba(#000, 0.3);

                        li {

                            &.active {

                                & > a {
                                    color: #FFF;
                                    background-color: $warning;
                                }
                            }
                            
                            a {
                                display: block;
                                width: 100%;
                                color: #FFF;
                                font-size: 14px;
                                padding: 7px 15px;
                                @include transition();
                                
                                &:hover, &:focus {
                                    text-decoration: none;
                                    background-color: $warning;
                                }
                            }
                        }
                    }
                }

                & > a {
                    display: block;
                    padding: 19.5px 0;
                    color: #FFF;
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                    @include transition();

                    @include media-breakpoint-down(lg) {
                        font-size: 13px;
                    }

                    &:hover, &:focus {
                        color: $warning;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// Mobile menu

.mobile-menu-toggle {
    padding: 8px;
    font-size: 22px;

    @include media-breakpoint-up(lg) {
        display: none !important;
    }
}


// Mobile menu
body.mobile-menu-opened {

    &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        background: rgba(#000, 0.5);

        @include media-breakpoint-up(lg) {
            display: none !important;
        }
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 80%;
    max-width: 400px;
    padding: 15px;
    background-color: $dark-blue;
    box-shadow: 0 0 40px #000;
    @include transition();

    @include media-breakpoint-up(lg) {
        display: none !important;
    }

    &:not(.opened) {
        box-shadow: none;
        @include translateX(-400px);
    }

    .mobile-languages {

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            padding: 0;
            margin-left: 10px;

            img {
                width: 30px;
            }
        }
    }

    .search {
        max-width: 100%;
        display: block !important;
    }

    .header__buttons {
        display: flex;
        justify-content: space-between;
        margin-left: 0;

        .btn {
            justify-content: center;
            width: calc(50% - 7px);
            margin: 0;
            text-align: center;

            .icon {
                font-size: 18px;
            }
        }
    }

    .mobile-menu__nav {
        overflow-y: scroll;
        height: calc(100vh - 165px);
        margin: -15px;
        margin-top: 0;
        padding: 15px;
        padding-top: 10px;
        background-color: rgba(#FFF, 0.05);

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {

                .has-arrow {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 42px;
                        height: 42px;
                        margin: 0 -15px 0 15px;
                        font-size: 12px;
                        color: #FFF;

                        &.clicked {
                            @include rotate(180deg);
                        }
                    }
                }

                a {
                    display: block;
                    padding: 10px 0;
                    color: #FFF;

                    &:hover, &:focus {
                        color: $warning;
                        text-decoration: none;
                    }

                    &.active {
                        color: $warning;
                    }
                }

                ul {
                    display: none;
                    margin-bottom: 15px;

                    li {
                        
                        a {
                            font-size: 14px;
                            padding: 5px 20px;
                        }
                    }
                }
            }
        }
    }
}