// Recommendations

.recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #FFF;
    @include transition();
    @extend .box-shadow-1;

    img {
        width: 60px;
        height: 60px;
        object-fit: contain;
        margin-bottom: 12px;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 3em;
        width: 100%;

        span {
            font-size: 14px;
            font-weight: 600;

            line-height: 1.5;
            max-height: 3em;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            @include media-breakpoint-down(sm) {
                font-size: 13px;
            }
        }
    }

    &:hover, &:focus {
        text-decoration: none;
        background-color: $light;
    }
}